.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse; }

.flex-fill {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.flex-grow-0 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.flex-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flex-shrink-0 {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.flex-shrink-1 {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1; }

.justify-content-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-content-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.align-items-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.align-items-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.align-content-start {
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

.align-content-end {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end; }

.align-content-center {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.align-content-between {
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }

.align-content-around {
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }

.align-content-stretch {
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

.align-self-auto {
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto; }

.align-self-start {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.align-self-end {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.align-self-center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.align-self-baseline {
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline; }

.align-self-stretch {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.overflow-auto {
  overflow: auto; }

.overflow-hidden {
  overflow: hidden; }

.m-1 {
  margin: 0.375rem; }

.mt-1,
.my-1 {
  margin-top: 0.375rem; }

.mr-1,
.mx-1 {
  margin-right: 0.375rem; }

.mb-1,
.my-1 {
  margin-bottom: 0.375rem; }

.ml-1,
.mx-1 {
  margin-left: 0.375rem; }

.m-2 {
  margin: 0.75rem; }

.mt-2,
.my-2 {
  margin-top: 0.75rem; }

.mr-2,
.mx-2 {
  margin-right: 0.75rem; }

.mb-2,
.my-2 {
  margin-bottom: 0.75rem; }

.ml-2,
.mx-2 {
  margin-left: 0.75rem; }

.m-3 {
  margin: 1.5rem; }

.mt-3,
.my-3 {
  margin-top: 1.5rem; }

.mr-3,
.mx-3 {
  margin-right: 1.5rem; }

.mb-3,
.my-3 {
  margin-bottom: 1.5rem; }

.ml-3,
.mx-3 {
  margin-left: 1.5rem; }

.m-4 {
  margin: 2.25rem; }

.mt-4,
.my-4 {
  margin-top: 2.25rem; }

.mr-4,
.mx-4 {
  margin-right: 2.25rem; }

.mb-4,
.my-4 {
  margin-bottom: 2.25rem; }

.ml-4,
.mx-4 {
  margin-left: 2.25rem; }

.m-5 {
  margin: 4.5rem; }

.mt-5,
.my-5 {
  margin-top: 4.5rem; }

.mr-5,
.mx-5 {
  margin-right: 4.5rem; }

.mb-5,
.my-5 {
  margin-bottom: 4.5rem; }

.ml-5,
.mx-5 {
  margin-left: 4.5rem; }

.pt-0,
.py-0 {
  padding-top: 0; }

.pr-0,
.px-0 {
  padding-right: 0; }

.pb-0,
.py-0 {
  padding-bottom: 0; }

.pl-0,
.px-0 {
  padding-left: 0; }

.p-1 {
  padding: 0.375rem; }

.pt-1,
.py-1 {
  padding-top: 0.375rem; }

.pr-1,
.px-1 {
  padding-right: 0.375rem; }

.pb-1,
.py-1 {
  padding-bottom: 0.375rem; }

.pl-1,
.px-1 {
  padding-left: 0.375rem; }

.p-2 {
  padding: 0.75rem; }

.pt-2,
.py-2 {
  padding-top: 0.75rem; }

.pr-2,
.px-2 {
  padding-right: 0.75rem; }

.pb-2,
.py-2 {
  padding-bottom: 0.75rem; }

.pl-2,
.px-2 {
  padding-left: 0.75rem; }

.p-3 {
  padding: 1.5rem; }

.pt-3,
.py-3 {
  padding-top: 1.5rem; }

.pr-3,
.px-3 {
  padding-right: 1.5rem; }

.pb-3,
.py-3 {
  padding-bottom: 1.5rem; }

.pl-3,
.px-3 {
  padding-left: 1.5rem; }

.p-4 {
  padding: 2.25rem; }

.pt-4,
.py-4 {
  padding-top: 2.25rem; }

.pr-4,
.px-4 {
  padding-right: 2.25rem; }

.pb-4,
.py-4 {
  padding-bottom: 2.25rem; }

.pl-4,
.px-4 {
  padding-left: 2.25rem; }

.p-5 {
  padding: 4.5rem; }

.pt-5,
.py-5 {
  padding-top: 4.5rem; }

.pr-5,
.px-5 {
  padding-right: 4.5rem; }

.pb-5,
.py-5 {
  padding-bottom: 4.5rem; }

.pl-5,
.px-5 {
  padding-left: 4.5rem; }

.m-n1 {
  margin: -0.375rem; }

.mt-n1,
.my-n1 {
  margin-top: -0.375rem; }

.mr-n1,
.mx-n1 {
  margin-right: -0.375rem; }

.mb-n1,
.my-n1 {
  margin-bottom: -0.375rem; }

.ml-n1,
.mx-n1 {
  margin-left: -0.375rem; }

.m-n2 {
  margin: -0.75rem; }

.mt-n2,
.my-n2 {
  margin-top: -0.75rem; }

.mr-n2,
.mx-n2 {
  margin-right: -0.75rem; }

.mb-n2,
.my-n2 {
  margin-bottom: -0.75rem; }

.ml-n2,
.mx-n2 {
  margin-left: -0.75rem; }

.m-n3 {
  margin: -1.5rem; }

.mt-n3,
.my-n3 {
  margin-top: -1.5rem; }

.mr-n3,
.mx-n3 {
  margin-right: -1.5rem; }

.mb-n3,
.my-n3 {
  margin-bottom: -1.5rem; }

.ml-n3,
.mx-n3 {
  margin-left: -1.5rem; }

.m-n4 {
  margin: -2.25rem; }

.mt-n4,
.my-n4 {
  margin-top: -2.25rem; }

.mr-n4,
.mx-n4 {
  margin-right: -2.25rem; }

.mb-n4,
.my-n4 {
  margin-bottom: -2.25rem; }

.ml-n4,
.mx-n4 {
  margin-left: -2.25rem; }

.m-n5 {
  margin: -4.5rem; }

.mt-n5,
.my-n5 {
  margin-top: -4.5rem; }

.mr-n5,
.mx-n5 {
  margin-right: -4.5rem; }

.mb-n5,
.my-n5 {
  margin-bottom: -4.5rem; }

.ml-n5,
.mx-n5 {
  margin-left: -4.5rem; }

.m-auto {
  margin: auto; }

.mt-auto,
.my-auto {
  margin-top: auto; }

.mr-auto,
.mx-auto {
  margin-right: auto; }

.mb-auto,
.my-auto {
  margin-bottom: auto; }

.ml-auto,
.mx-auto {
  margin-left: auto; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.c-pointer {
  cursor: pointer; }
