/*默认样式*/
body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, strong, label, em, pre, code, input, button, textarea, address {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  width: 100%;
  height: 100%;
  line-height: 200%;
  font-family: 微软雅黑;
  color: #333333;
}

li {
  list-style-type: none;
}

li a:hover {
  color: #e76b20;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #163ca2;
  text-decoration: none;
}

img {

  border: 0;
}

h2 {
  font-size: 14px
}

.clear {
  line-height: 0;
  clear: both;
  font-size: 0;
}
